#middle { width: 100%; height: 800px ; margin: 0; padding: 0; }
#content { width: 960px; height: 900px; margin: 0 auto; padding: 0; }
#tab {
	width:600px;
	height:770px;
	margin:50px auto;
	border:1px solid #000;
	background:#111;
}
#tab>ul {
	width:600px;
	list-style: none;
	position:relative;
	border-bottom:2px solid #111;
}
#tab>ul:after{ content:""; display:block; clear:both;} 
#tab>ul>li {
	float:left;
	background:#333;
	margin:1px 1px 0px 1px;
}
#tab>ul>li.selected {
	background-color:#111; margin-top:1px;
}
#tab>ul>li>span {
	display:inline-block; padding:6px 25px 6px 25px; color:#fff;
}
#tab>ul>li>div{
	position:absolute;
	top:34px; left:1px; list-style:none; 
	border:0; margin:1px; padding:10px;
	width:576px; height:644px;
}
#tab>ul>li div.sub_content{	
	width:500px; height:150px;
	list-style: none;
	border:1px solid #eee;
	margin:15px auto; padding:3px;
	height:150px;
	border:0px;
}
#tab>ul>li div.sub_content>div.title{
	background-color: #aaa;
	background-color: #7f7f7f;
	border-top:0px;
	border-color:#3833ff;
	padding:0px;
	text-indent: 5px;
}
#tab>ul>li div.sub_content>div.text{
	padding:2px;
}
#tab>ul>li>a {
	display: block;
	width:150px;
	height:30px;
	text-align:center;
	text-decoration: none;
}
#tab>ul>li>a:link, #tab>ul>li>a:visited{
	font:bold 12px/20px;
	color:#fff;
}

.prev{
	display: inline;
	position: absolute;
	top:500px;
	left:250px;
	font-size:30px;
}
.next{
	display: inline;
	position: absolute;
	top:500px;
	left:1000px;
	font-size:30px;
}
.button {position:fixed; left:950px;top:180px;}

.title{ background-color: #fff; margin:5px;}

div.123 {color:white;}
