#content {width:960px; height:700px;}
#content fieldset {width:600px; margin:3px;}
#content fieldset legend {font-size:15px; padding:10px;}
#content fieldset label {font-size:12px; padding:0; margin:0;}
#content fieldset input[type="text"]{width:400px;}
#content fieldset textarea {width:420px; height:300px;}
#content fieldset #section {margin-top:40px;}
#content fieldset .control-group {margin-top:20px;}
#content fieldset .control-label {float:left; padding:3px; }
#contetn fieldset .controls {padding:3px;}
#content fieldset #user_name {font-size:12px; width:100px; padding:3px;}