#content {width:960px; height:900px;}
fieldset {width:700px; padding:10px; margin:20px auto; border:2px solid #bbb;}
fieldset div.control-label {font:italic normal 23px/25px;}
fieldset div.control-label span {font:bold 23px/25px 맑은고딕; }