

.login {color:white; float:right; margin-top:20px;}
.login li {padding-left:10px; float:right;}
.add li{margin-top:10px;}
#loginTitle span{color:blue; font-size:20px; margin-top:10px;}
#wraplogin {margin-top: 45px;margin-bottom:45px;}